*{
    margin: 0;
}
#nav-hover{
    text-decoration: none;
    color: black;
}
#nav-hover:hover{
    color: gold;
    border: solid gold 2px;
    border-radius: 4px;
    width: auto;
    
}
#light {
    background-color: #f4f4f4;
    color: #333;
  }
  
#dark {
    background-color: #333;
    color: #f4f4f4;
  }